body,
main {
  position: relative;
}

html {
  box-sizing: border-box;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $background;
}

body {
  background-color: $background;
  &::-webkit-scrollbar {
    width: 0;
  }
}

button {
  cursor: pointer;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

canvas {
  -webkit-user-drag: none;
  user-select: none;
}
