// Imports in scss
@import "../../styles/main/variables";

.about {
  width: 100%;
  height: fit-content;
  background: $opaqueBG;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  padding: 5.7rem 0 5.7rem;

  @media screen and (max-width: $layout-breakpoint-small) {
    padding: 40px 0 40px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0rem;
    left: -80px;
    width: 26rem;
    height: 26rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://raw.githubusercontent.com/adeolaadeoti/adeolaadeoti-v2/main/public/webp/hand-left.webp");
    transform: scale(0.6);
    display: none;

    @media only screen and (max-width: 45em) {
      width: 20rem;
      height: 20rem;
    }
  }

  & .aboutWrapper {
    width: 100%;
    max-width: 1100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    column-gap: 120px;

    @media (max-width: $layout-breakpoint-small) {
      width: 85%;
      height: fit-content;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
    }

    & .section {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      min-width: 400px;
      margin-bottom: 4rem;

      @media screen and (max-width: $layout-breakpoint-small) {
        min-width: 200px;
        align-self: center;
        margin-bottom: 2rem;
      }



      & h1 {
        font-family: $spaceGrotesk;
        font-size: 3.5em;
        font-weight: 900;
        letter-spacing: -0.03em;
        color: white;
        max-width: 30vw;
        line-height: 1.5;

        @media (max-width: $layout-breakpoint-small) {
          font-size: 2.5em;
          max-width: unset;
        }
      }

      & .paraG {
        max-width: 400px;
        height: fit-content;
        font-family: $josefinSans;
        font-size: 15px;
        line-height: 1.5;

        @media (max-width: 600px) {
          width: 100%;
          // margin-bottom: 2rem;
        }
      }
    }

    & .articleWrapper {

      @media (max-width: $layout-breakpoint-small) {
        align-self: center;
      }
      
      & .articleCard {
        padding: 1em;
        background: rgb(22, 22, 26);
        text-align: left;
        max-width: 400px;

        &:nth-child(1) {
          margin-bottom: 35px;
          @media (max-width: $layout-breakpoint-small) {
            min-width: 100%;
            align-self: center;
          }
        }

        &:nth-child(2) {
          margin-bottom: 35px;
          @media (max-width: $layout-breakpoint-small) {
            min-width: 100%;
          }
        }

        & h1 {
          font-size: 1em;
          font-weight: 500;
          letter-spacing: -0.03em;
          max-width: 30vw;
          line-height: 1.5;

          @media (max-width: $layout-breakpoint-small) {
            font-size: 1em;
            max-width: unset;
          }
        }

        & p {
          line-height: 1.8;
          color: $linearGrey;
          font-size: 0.9em;
          font-family: $josefinSans;
          margin-top: 1rem;
        }

        & .articleHeader{
          display: flex;

          & h1 {
            align-self: center;
            margin-left: 1rem;
          }

          & .iconContainer {
            background: #8675B6;
            width: 2rem;
            height: 2rem;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;            
          }
        }

      }
    }
  }
}
