@import "../../styles/main/variables";

.header {
  width: 100%;
  height: fit-content;
  display: grid;
  position: relative;
  place-items: center;
  background: $opaqueBG;
  padding: 3.25rem 0 0;
  

  @media screen and (max-width: 768px) {
    padding: 100px 0 50px;
  }

  & .wrapperLanding {
    width: 100%;
    max-width: 1090px;
    height: 568px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../public/header.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

    @media screen and (max-width: $layout-breakpoint-small) {
      width: 85%;
      height: fit-content;
      justify-content: space-between;
      flex-direction: column;
    }

    & .leftStar {
      position: absolute;
      left: -10px;
      top: 310px;
    }

    & .rightStar {
      position: absolute;
      right: 165px;
      top: 67px;
    }

    & .text {
      width: 882px;
      height: fit-content;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media (max-width: 600px) {
        width: 100%;
        justify-content: space-between;
      }

      & .textI {
        width: 532px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        

        @media (max-width: 600px) {
          width: 100%;
          margin-right: unset;
          margin: 0 auto;
          margin-top: 4rem;
        }

        & .gradientText {
          font-family: $spaceGrotesk;
          position: relative;
          height: fit-content;
          width: max-content;
          overflow: hidden;
          margin-bottom: 2rem;
          background: linear-gradient(
            76deg,
            rgb(155 123 255 / 80%),
            rgb(235 234 208 / 60%),
            rgb(214 228 185 / 60%),
            rgb(166 219 196 / 40%),
            rgb(178 211 243 / 60%)
          );
          background-size: 500% 500%;
          -webkit-animation: slime 45s ease infinite;
          animation: slime 45s ease infinite;
          background-clip: text;
          -webkit-background-clip: text;

          h1 {
            max-width: 532px;
            font-size: 6em;
            font-weight: 900;
            // line-height: 1.2;
            letter-spacing: -0.03em;
            color: rgba(255, 255, 255, 0);
            text-transform: capitalize;
            text-align: center;

            @media (max-width: 600px) {
              font-size: 3.2em;
              font-weight: 900;
              line-height: 1.2;
              letter-spacing: 2px;
            }

            @media (max-width: 280px) {
              font-size: 2.8em;
              font-weight: 900;
              line-height: 1.2;
              letter-spacing: 2px;
            }

            span {
              color: $linearGrey;
            }
          }
        }

        & > p {
          color: $linearGrey;
          width: 468px;
          line-height: 2.3;
          text-align: center;

          @media (max-width: 600px) {
            width: 88%;
          }
        }
      }

      & .paraG {
        width: max-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-top: 2rem;
        column-gap: 50px;

        @media (max-width: 600px) {
          width: 100%;
          align-items: flex-start;
          justify-content: space-between;
          margin-top: 60px;
          margin-bottom: 2rem;
        }

        p {
          max-width: 420px;
          height: fit-content;
          line-height: 1.5;
          font-family: $josefinSans;
          font-size: 0.9em;

          @media (max-width: 600px) {
            max-width: 100%;
            font-size: 0.8em;
          }
        }
      }
    }

    & .imageH {
      height: 400px;
      width: 400px;
      position: relative;

      @media (max-width: 768px) {
        margin: 4rem auto;
        height: 300px;
        width: 300px;
      }
      @media (max-width: 280px) {
        margin: 0;
        height: 200px;
        width: 200px;
      }

      & > div {
        height: 336.984px;
        width: 318.734px;
        position: absolute;
        z-index: 99;

        @media (max-width: 768px) {
          margin: 0rem auto;
          height: 280px;
          width: 280px;
        }

        @media (max-width: 280px) {
          // margin: 0;
          height: 200px;
          width: 200px;
        }

        & .dp {
          width: inherit;
          display: block;
          height: inherit;
          margin-top: -2.435em;
          background-size: cover;
          background-position-x: center;
          margin-left: -2.2em;
          background-image: url("https://ik.imagekit.io/ymmfblb1qwkf/ameen.jpg?updatedAt=1696429648772");
          border: 0px;

          @media (max-width: 786px) {
            margin-top: -2.3em;
          }
        }
      }

      & span {
        height: 336.984px;
        width: 318.734px;
        position: absolute;
        border: 2px solid $linearGrey;
        top: 10%;
        left: 10%;
        background: transparent;

        @media (max-width: 768px) {
          height: 270px;
          width: 270px;
        }

         @media (max-width: 280px) {
          // margin: 0;
          height: 200px;
          width: 200px;
        }
      }
    }
  }
}
