@import '../../styles/main/variables';
$background: white;


.container {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  background: inherit;
}

.list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  animation: slide 25s linear infinite;
}

.item {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: filter 0.5s ease;
  svg {
    fill: white;
    margin: 0 2rem;
    width: 60px;
    height: 60px;
  }
}

.blur {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  z-index: 2;
  pointer-events: none;
}

.blurRight {
  right: 0;
}

.blurLeft {
  left: 0;
}

.blur::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  mask: linear-gradient(to right, black, transparent);
}

.blurRight::before {
  mask: linear-gradient(to left, black, transparent);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
